/* Navbar.css */

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  margin-left: -20px;
  font-weight: bold;
  color: #2d3748;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: #ffffff;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
  display: inline-block;
  transition: color 0.2s;
}
.nav-link:hover {
  color: #fcb72c;
}
.nav-link:active {
  color: #fcb72c;
}
/* .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #41d3ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
} */
/* .navbar-link:hover,
.navbar-link.active {
  color: #3182ce;
} */

.navbar-menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  position: relative;
}
.btn {
  background-color: #000000;
  color: #fcb72c;
  padding: 0.5rem 1rem;
  border: 2px solid #fcb72c;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #fcb72c;
  color: #000000;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    background: #fff;
    flex-direction: column;
    width: 180px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 1rem 0;
  }
  .navbar-links.open {
    display: flex;
  }
  .navbar-menu-icon {
    display: block;
  }
}
